<%- include('partials/header'); -%>
<div class="container">
  <div class="row">
    <div class="col s12 m6 offset-m3" style="margin-top: 8%;"> <!-- Modified -->
      <div class="card blue-grey darken-1 z-depth-5">
        <div class="card-content white-text center">
          <span class="card-title">D C AJMERA</span>
          <span class="card-title">LOG IN</span>
          <form id="loginForm">
          <div class="row">
            <div class="input-field col s12">
              <input id="email" type="email" class="validate">
              <label for="email">Email</label>
              <div class="email-error"></div>
            </div>
          </div>

          <div class="row">
            <div class="input-field col s12">
              <input id="password" type="password" class="validate">
              <label for="password">Password</label>
              <div class="password-error"></div>
            </div>
          </div>
          <button type="submit" class="waves-effect waves-light btn-large red darken-4">LOG IN</button>
        </form>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
const loginForm = document.querySelector('#loginForm');
    let emailError = document.querySelector('.email-error');
    let passwordError = document.querySelector('.password-error');

    loginForm.addEventListener('submit', async (event) => {
      event.preventDefault();
    emailError.textContent = ''; 
    passwordError.textContent = '';
    const email = loginForm.email.value;
    const password = loginForm.password.value;

      try {
        const res = await fetch('/login', {
          method: 'POST',
          body: JSON.stringify({ email, password}),
          headers: { 'Content-Type': 'application/json' }
        });
        const data = await res.json();
        console.log(data);
        if (data.errors) {
          emailError.textContent = data.errors.email;
          passwordError.textContent = data.errors.password;
        }
        if (data.user) {
          if (data.userrole === 'sysadmin') {
                location.assign('/sysadminpage');    
            } else if (data.userrole === 'requester') {
              location.assign('/consumerpage');
            } else if (data.userrole === 'approver'){
            location.assign('/approverpage ');
        } else {
          location.assign('/login');
        }
        }
      } catch (error) {
        console.log(error);
      }
    });
</script>
<%- include('partials/footer'); -%>
